@media (min-width:1440px) {
    .main_section {
        height: 1069px;
        position: relative;
    }

    .vert_nav {
        display: flex;
        position: absolute;
        width: 25px;
        height: 100%;
        left: 1.39vw;
        top: 0;
        flex-direction: column-reverse;
    }

    .vert_nav_link {
        color: #80858F;
        font-family: Orbitron;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        text-decoration: none;
        text-transform: uppercase;

        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    .vert_nav_link:first-child {
        height: 81px;
        margin-top: 49px;
        margin-bottom: 380px;
    }

    .vert_nav_link:nth-child(2) {
        height: 105px;
        margin-top: 22px;
    }

    .vert_nav_link:nth-child(3) {
        height: 113px;
        margin-top: 319px;
    }

    .main_section_content {
        width: 660px;
        height: 528px;
        left: 4.17vw;
        bottom: 250px;
        gap: 14px;
    }

    .content_h1 {
        font-size: 72px;
        line-height: 86px;

        width: 656px;
    }

    .content_h1_img {
        right: 5px;
        top: 169px;
    }

    .content_h3 {
        margin: 31px 0 0 0;

        width: 615px;
        font-size: 18px;
        line-height: 28px;
    }

    .content_btn_container {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        width: 100%;
        margin-top: 39px;
        height: 70px;
    }

    .content_active_button {
        width: 203px;
        height: 70px;

        font-size: 18px;
        line-height: 28px;
    }

    .content_inactive_button {
        width: 148px;
        margin-left: 40px;
        font-size: 18px;
        line-height: 28px;
    }

    .section_right_container {
        position: absolute;
        right: 0;
        width: 44vw;
    }

    .section_right_img {
        width: 660px;
        height: 518px;
        top: 296px;
        right: 60px;

    }
}

@media (max-width:1439px) {
    .main_section {
        height: 955px;
        position: relative;
    }

    .vert_nav {
        display: flex;
        position: absolute;
        width: 25px;
        height: 100%;
        left: 40px;
        top: 0;
        flex-direction: column-reverse;
    }

    .vert_nav_link {
        color: #80858F;
        font-family: Orbitron;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        text-decoration: none;
        text-transform: uppercase;

        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    .vert_nav_link:first-child {
        height: 81px;
        margin-top: 49px;
        margin-bottom: 380px;
    }

    .vert_nav_link:nth-child(2) {
        height: 105px;
        margin-top: 22px;
    }

    .vert_nav_link:nth-child(3) {
        height: 113px;
        margin-top: 319px;
    }

    .main_section_content {
        width: 660px;
        height: 528px;
        left: 68px;
        bottom: 200px;
        gap: 16px;
        z-index: 1;
    }

    .content_h1 {
        font-size: 72px;
        line-height: 86px;

        width: 656px;
    }

    .content_h1_img {
        right: 12px;
        top: 162px;
    }

    .content_h3 {
        margin: 14px 0 0 0;

        width: 401px;
        font-size: 18px;
        line-height: 28px;
    }

    .content_btn_container {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        width: 100%;
        margin-top: 22px;
        height: 70px;
    }

    .content_active_button {
        width: 203px;
        height: 70px;

        font-size: 18px;
        line-height: 28px;
    }

    .content_inactive_button {
        width: 148px;
        margin-left: 40px;
        font-size: 18px;
        line-height: 28px;
    }

    .section_right_container {
        position: absolute;
        right: 0;
        width: 46vw;
    }

    .right_img_container {}

    .section_right_img {
        position: relative;
        width: 39vw;
        height: 44vw;
        bottom: 104px;
        right: 0;
        overflow: hidden;
    }
}

@media (max-width:768px) {}

.main_section {
    display: flex;
    width: 100%;
}

.main_section_content {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.content_h1 {
    position: relative;

    color: #FFF;
    font-family: Orbitron;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;

    margin: 0;
}

.content_h1_img {
    position: absolute;
}

.content_h3 {
    color: #999;
    font-family: Orbitron;
    font-style: normal;
    font-weight: 400;
}

.content_active_button {
    cursor: pointer;

    border: none;
    appearance: none;
    background-color: #57B8FF;

    color: #FFF;
    font-family: Orbitron;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
}

.content_inactive_button {
    color: #FFF;
    font-family: Orbitron;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.section_right_container {

    height: 100%;
    background-color: #57B8FF;
    z-index: 0;
}

.section_right_img {
    position: absolute;
    background-image: url('/assets/main_right.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}