@media (min-width:1440px) {
    .footer {
        height: 507px;
        gap: 150px;
    }

    .footer_container {
        left: 60px;
        top: 129.61px;
        flex-direction: row;
        gap: 150px;
    }

    .footer_info_container {
        width: 294px;
        height: 202px;
    }

    .info_logo {
        width: 170px;
        height: 48px;
    }

    .footer_nav {
        width: 162px;
        height: 202px;
    }

    .footer_empty {
        width: 240px;
        height: 202px;
    }

}

@media (max-width:1439px) {
    .footer {
        height: 508px;
        overflow: hidden;
    }

    .footer_container {
        padding: 0 43px;
        top: 150px;
        gap: 30px;
        flex-direction: row;
    }

    .footer_info_container {
        width: 294px;
        height: 202px;
    }

    .info_logo {
        width: 170px;
        height: 48px;
    }

    .footer_nav {
        width: 162px;
        height: 202px;
    }

    .footer_empty {
        display: none;
    }
}

@media (max-width:767px) {
    .footer {
        height: 760px;
        overflow: hidden;
    }

    .footer_container {
        padding: 0 43px;
        top: 40px;
        gap: 30px;
        flex-direction: column;
    }

    .footer_info_container {
        width: 294px;
        height: 202px;
    }

    .info_logo {
        width: 170px;
        height: 48px;
    }

    .footer_nav {
        width: 162px;
        height: 202px;
    }

    .footer_empty {
        display: none;
    }
}

.footer {
    position: relative;
    width: 100%;
    background-color: #222730;
}

.footer_container {
    position: absolute;
    display: flex;
}

.footer_info_container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.info_h4 {
    margin-top: 35px;
    width: 289px;
    color: #999;
    font-family: Orbitron;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.footer_nav {
    display: flex;
    flex-direction: column;
}

.nav_title {
    width: 130px;
    color: #FFF;
    font-family: Orbitron;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
    text-decoration: none;

    margin-bottom: 24px;
}

.nav_link {
    color: #999;
    font-family: Orbitron;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.5px;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: -1px;
}